<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="org.cloud.sonic.android">

  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
  <uses-permission
    android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
    tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
  <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
    tools:ignore="QueryAllPackagesPermission" />
  <uses-permission
    android:name="android.permission.DUMP"
    tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW" />

      <data android:scheme="http" />
    </intent>
  </queries>

  <application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:persistent="true"
    android:theme="@style/AppTheme">
    <activity
      android:name=".wifi.SonicJoinWifiActivity"
      android:exported="true" />

    <meta-data
      android:name="android.max_aspect"
      android:value="3.0" />

    <activity
      android:name=".AppListActivity"
      android:exported="true" />
    <activity
      android:name=".MainActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".AudioActivity"
      android:exported="true"
      android:showWhenLocked="true"
      android:turnScreenOn="true" />

    <service
      android:name=".AudioService"
      android:enabled="true"
      android:exported="false"
      android:foregroundServiceType="mediaProjection" />

    <activity
      android:name=".SearchActivity"
      android:excludeFromRecents="true"
      android:exported="true"
      android:finishOnTaskLaunch="true"
      android:noHistory="true"
      android:stateNotNeeded="true">
      <intent-filter>
        <action android:name="org.cloud.sonic.android.ACTION_IDENTIFY" />

        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

  </application>

</manifest>
